.action__img-box
	text-align: center
	margin-bottom: 24px

.action__period
	font-size: 32px
	font-weight: 500
	line-height: 40px
	margin-bottom: 24px
	padding: 0 0.9em

.action__annonce
	padding: 1.2em 0.9em
	position: relative
	margin-bottom: 16px

.action__annonce::before
	content: ''
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: #000000
	opacity: 3%
	border-radius: 5px

.action__percent
	font-size: 36px
	line-height: 28px
	margin-right: 5px

.action__text
	padding: 0 0.9em
	max-width: 656px
	padding-bottom: 4px

.action__rules
	padding: 0 0.9em
	color: #00D36D
	font-size: 16px
	text-decoration: none