.address
	margin-bottom: 360px	
	
.address__partner	
	position: relative

.address__img-box
	position: absolute
	left: -63px

.address__info
	padding: 0 0.9em
	line-height: 24px

.address__title
	font-size: 32px
	font-weight: 500
	line-height: 40px
	margin-bottom: 24px

.address__metro
	position: relative
	display: inline-block
	padding-right: 7px
	margin-bottom: 12px

.address__metro::after
	content: ''
	position: absolute
	width: 2px
	height: 2px
	background-color: #000000
	border-radius: 50%
	right: 0
	top: 50%
	transform: translateY(-50%)

.address__route
	color: #000000
	text-decoration: none
	padding-bottom: 1px
	border-bottom: 1px dotted #000

.address__time
	margin-bottom: 12px

.address__phone
	display: block
	color: #000000
	text-decoration: none

.address__link
	padding-top: 4px
	color: #00D36D

.address .map
	position: absolute
	right: 0
	top: -36px
	width: 420px
	height: 531px