.button
	display: inline-block
	border: 1px solid #00D36D
	border-radius: 5px
	text-align: center
	padding: 13px 25px
	font-family: "Geometria", "Arial", sans-serif
	font-size: 18px
	font-weight: 400
	line-height: 1.55
	cursor: pointer
	text-decoration: none
	transition: all .3s

.button:hover
	color: #ffffff
	background-color: #00D36D

.button--theme-green
	background-color: #00D36D
	color: #ffffff

.button--theme-green:hover
	background-color: #fff
	color: #000

.button--theme-white
	border-color: #fff
	background-color: #fff

.button--theme-white:hover
	background-color: #00D36D
	border-color: #00D36D
	color: #ffffff

.button__partners
	margin: 0 10px 10px