.filter--offsets
	margin-bottom: 45px

.filter__inner
	display: flex
	flex-wrap: wrap
	justify-content: center
	@media (max-width: 767px)
		flex-wrap: nowrap
		overflow-x: auto
		justify-content: flex-start

.filter__item
	margin-right: 8px
	margin-bottom: 8px
	@media (max-width: 767px)
		white-space: nowrap

.filter__item .button
	border-radius: 8px

.filter__item .button--active
	background-color: #00D36D
	border-color: #00D36D
	color: #fff
	pointer-events: none
