.filter--offsets
	margin-bottom: 45px

.filter__inner
	display: flex
	flex-wrap: wrap
	justify-content: center

.filter__item
	margin-right: 8px
	margin-bottom: 8px

.filter__item .button
	border-radius: 8px

.filter__item .button--active
	background-color: #00D36D
	border-color: #00D36D
	color: #fff
	pointer-events: none
