.footer
    padding-top: 40px
    border-top: 1px solid #00D36D

.footer__row
    display: flex
    align-items: center
    margin-bottom: 24px

.footer__left
    min-width: 180px

.footer__phoneLink
    display: block

.footer__apps
    display: flex
    align-items: center

.footer__app
    width: 100px
    margin-right: 15px

.footer__appImg
    width: 100%

.footer__socs
    display: flex
    align-items: center
    justify-content: flex-end
    width: 100%

.footer__soc
    width: 40px
    height: 40px

.footer__socImg
    width: 100%

.footer .menu
    flex-wrap: nowrap
    justify-content: space-between
    width: 100%

.footer .menu__item
    padding: 15px 5px

.footer .menu__link
    font-size: 16px