.icon
	display: inline-block

.icon--mark
	width: 8px
	height: 12px
	background-image: url(../img/icon-mark.svg)
	background-position: center
	background-size: contain
	background-repeat: no-repeat

.icon--coin
	width: 16px
	height: 16px
	background-image: url(../img/icon-coin.svg)
	background-position: center
	background-size: contain
	background-repeat: no-repeat