.offers__inner
    display: flex
    flex-wrap: wrap
    padding: 0 0.9em

.offer__item
    width: 50%
    padding-bottom: 50px

.offer__item:nth-child(odd)
    padding-right: 0.45em

.offer__item:nth-child(even)
    padding-left: 0.45em

.offer__info
    position: relative

.offer__text
    padding-left: 58px

.offer__title
    font-size: 14px
    opacity: 0.5

.offer__description
    font-size: 17px

.offer__link
    position: absolute
    border-radius: 50%
    top: 0
    bottom: 0
    left: 0
    right: 0

.offer__pic
    width: 487px
    height: 367px
    background-repeat: no-repeat
    background-size: contain
    margin-bottom: 0.9em

.offer__pic--1
    background-image: url(../img/offer-1.jpg)

.offer__pic--2
    background-image: url(../img/offer-2.jpg)

.offer__pic--3
    background-image: url(../img/offer-3.jpg)

.offer__partner
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    width: 50px
    height: 50px
    background-repeat: no-repeat
    background-size: contain
    border-radius: 50%

.offer__partner--1
    background-image: url(../img/partner-1.png)

.offer__partner--2
    background-image: url(../img/partner-2.png)

.offer__partner--3
    background-image: url(../img/partner-3.png)