.search__inner
	display: none
	position: absolute
	left: calc(-1 * (100vw - 1000px) / 2)
	right: 0
	width: 100vw
	background-color: #fff
	padding: 15px 20px

.search__btn
	display: inline-block
	line-height: 1

.search__inner .button__select
	margin-left: auto

.search__result
	margin-top: 25px
	max-height: 400px
	overflow-y: auto

.search__result .cards__item
	color: #000

.search__result .cards__item .cards__name
	align-self: center
	transition: all .3s

.search__result .cards__item:hover
	background-color: #fff
	color: #000

.search__result .cards__item:hover .cards__name
	color: #00D36D

