.title--center
	text-align: center

.title__baloon
	margin-bottom: 20px

.title__main
	margin-bottom: 55px

.title__cards
	width: 100%
	font-size: 28px
	line-height: 1
	margin-bottom: 10px

.title__offers
	margin-bottom: 50px
