.user__bonuses
	white-space: nowrap
	margin-bottom: 10px
	text-align: right

.user__current-city
	font-size: 14px
	color: #999
	position: relative
	padding-left: 18px

.user__current-city .icon--mark
	position: absolute
	top: 5px
	left: 3px