.user__city
	margin-bottom: 10px
	@media (max-width: 1023px)
		margin-right: 25px
		margin-bottom: 0

.user__bonuses
	white-space: nowrap
	margin-bottom: 10px
	text-align: right

.user__current-city
	font-size: 14px
	color: #999
	position: relative
	padding-left: 18px
	@media (max-width: 1023px)
		color: #000


.user__current-city .icon--mark
	position: absolute
	top: 5px
	left: 3px
	@media (max-width: 1023px)
		display: none

.user__current-city .icon--mark-2
	position: absolute
	top: 2px
	left: 3px

.user--xs-mobile
	display: none
	@media (max-width: 767px)
		display: block